:root     { background-color: #101010; }
#tabbar   { border-color: #101010; bottom: 18px !important; }

.tab.pinned                                         { margin-top: 1px; background-image: none !important; }
.tab.pinned.last-row                                { border-bottom-width: 1px; }
.tab.pinned.contextual-identity-marker              { height: 3px; }
.tab:not(.pinned) .contextual-identity-marker       { width: 5px !important; }

.tab:not(:hover) .closebox   { display: none; }

.tab                         { background-color: #242424; color: #FFFFFF; border-color: #101010; }
.tab:hover                   { background-color: #333333 !important; color: #FFFFFF !important; }

.tab.discarded               { background-color: #202020; color: #606060 !important; }
.tab.discarded:hover         { background-color: #242424!important; }

.tab.active                  { background-color: #333333; }
.tab.active:hover            { background-color: #333333 !important; }

.tab.private-browsing              { background-color: #504050; }
.tab.private-browsing.active       { background-color: #706070; }
.tab.private-browsing:hover        { background-color: #7050A0 !important; }
.tab.private-browsing.active:hover { background-color: #9060B0 !important; }

.after-tabs button           { background-color: #242424; color: #808080; border-color: #101010; }
.after-tabs button:hover     { background-color: #333333 !important; color: #FFFFFF !important; }