[Desktop Entry]
Version=1.0
Type=Application
Name=Start Windows
Comment=Start Windows VM
Exec=/usr/bin/virsh -c qemu:///system start win10
Icon=
Path=/
Terminal=false
StartupNotify=false
