[Desktop Entry]
Version=1.0
Type=Application
Name=Stop Windows
Comment=Stop Windows VM
Exec=/usr/bin/virsh -c qemu:///system destroy win10
Icon=
Path=/
Terminal=false
StartupNotify=false
