src/.config/nvim/plugged
src/.zshalias
src/.zsh/.zcompdump
src/.zsh/.zcompdump.zwc
src/.config/systemd/user/default.target.wants/
src/.config/systemd/user/timers.target.wants/
src/.config/systemd/user/sockets.target.wants/
