! URXVT
!----------------------------------------------------------------------

URxvt.borderless: false
URxvt.internalBorder: 3
URxvt.externalBorder: 3
URxvt.scrollBar: false
!URxvt.font: xft:Input:pixelsize=12:antialias=true
!URxvt.boldFont: xft:Input:pixelsize=12:antialias=true
!URxvt.font: xft:Input:pixelsize=12:antialias=true
!URxvt.boldFont: xft:Tewi:pixelsize=12:antialias=true
URxvt.font: xft:Input:pixelsize=13:antialias=true
URxvt.boldFont: xft:Input:pixelsize=13:antialias=true

! clickable urls
URxvt.perl-ext-common: default,matcher,selection-to-clipboard,clipboard,tabbedex
URxvt.url-launcher: google-chrome-stable
URxvt.matcher.button: 1

URxvt.keysym.M-c:   perl:clipboard:copy
URxvt.keysym.M-v:   perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped

! transparency
! URxvt.transparent: true
! URxvt.shading:     20
! URxvt.fading:      15

! tabs
URxvt.tabbed.tabbar-bg: -1
URxvt.tabbed.tabbar-fg: -2
URxvt.tabbed.tab-bg: -2
URxvt.tabbed.tab-fg: -1
URxvt.tabbed.title-bg: -1
URxvt.tabbed.title-fg: -2
URxvt.tabbed.autohide: true
URxvt.tabbed.new-button: no
URxvt.tabbed.title: false

*antialias:  true
*autohint:  true

Xcursor.theme: Numix

!--------------------------------
! Rofi configuration
!--------------------------------
rofi.modi: run

rofi.color-enabled: true
rofi.font: ypn Input 13

!                  Background   Foreground  Background Alternate    Highlight Background    Highlight Foreground
rofi.color-window: #161616,     #ffffff,    #161616
rofi.color-normal: #161616,     #ffffff,    #161616,                #fea63c,                #161616
rofi.color-active: #161616,     #ffffff,    #161616,                #fea63c,                #161616
rofi.color-urgent: #FF5964,     #161916,    #FF5964,                #fea63c,                #161616

rofi.columns: 1
rofi.fake-transparency: true
rofi.hide-scrollbar: true
rofi.disable-history: false
rofi.bw: 0
rofi.fullscreen: false
rofi.lines: 7
rofi.padding: 5
rofi.separator-style: none


! Colors
!----------------------------------------------------------------------
!#include "/home/mxmanz/.Xresources.d/.colors"

! special
*.foreground:   #ffffff
*.background:   #161616
*.cursorColor:  #ffffff

! black
*.color0:       #222222
*.color8:       #666666

! red
*.color1:       #e84f4f
*.color9:       #d23d3d

! green
*.color2:       #b7ce42
*.color10:      #bde077

! yellow
*.color3:       #fea63c
*.color11:      #ffe863

! blue
*.color4:       #66aabb
*.color12:      #aaccbb

! magenta
*.color5:       #b7416e
*.color13:      #e16a98

! cyan
*.color6:       #6d878d
*.color14:      #42717b

! white
*.color7:       #dddddd
*.color15:      #cccccc


! Define Colors
!*background:   bg
!*foreground:   fg

!*color0:      blk
!*color8:      bblk
!*color1:      red
!*color9:      bred
!*color2:      grn
!*color10:     bgrn
!*color3:      ylw
!*color11:     bylw
!*color4:      blu
!*color12:     bblu
!*color5:      mag
!*color13:     bmag
!*color6:      cyn
!*color14:     bcyn
!*color7:      wht
!*color15:     bwht
