[merge]
  tool = ediff
  conflictStyle = diff3
  ff = only

[mergetool]
	# Clean up backup files created by merge tools on tool exit
	keepBackup = false
	# Clean up temp files created by merge tools on tool exit
	keepTemporaries = false
	# Put the temp files in a dedicated dir anyway
	writeToTemp = true
	# Auto-accept file prompts when launching merge tools
  prompt = false

[color]
	# Enable colors in color-supporting terminals
  ui = auto

[alias]
	st = status
	ci = commit
	lg = log --graph --date=relative --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ad)%Creset'
  oops = commit --amend --no-edit
  glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'

[core]
  whitespace = -trailing-space
  pager = delta

[diff]
  tool = vimdiff
    # Use better, descriptive initials (c, i, w) instead of a/b.
    mnemonicPrefix = true
    # Show renames/moves as such
    renames = true
    # When using --word-diff, assume --word-diff-regex=.
    wordRegex = .
    # Display submodule-related information (commit listings)
    submodule = log

[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[mergetool.ediff]
    cmd = emacs --eval \"\
(progn\
  (defun ediff-write-merge-buffer ()\
    (let ((file ediff-merge-store-file))\
      (set-buffer ediff-buffer-C)\
      (write-region (point-min) (point-max) file)\
      (message \\\"Merge buffer saved in: %s\\\" file)\
      (set-buffer-modified-p nil)\
      (sit-for 1)))\
  (setq ediff-quit-hook 'kill-emacs\
        ediff-quit-merge-hook 'ediff-write-merge-buffer)\
  (ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\"\
        \\\"$BASE\\\" nil \\\"$MERGED\\\"))\"

[push]
  # When pushing, also push tags whose commit-ishs are now reachable upstream
  followTags = true

[tag]
	# Sort tags as version numbers whenever applicable, so 1.10.2 is AFTER 1.2.0.
  sort = version:refname

[versionsort]
	prereleaseSuffix = -pre
	prereleaseSuffix = .pre
	prereleaseSuffix = -beta
	prereleaseSuffix = .beta
	prereleaseSuffix = -rc
  prereleaseSuffix = .rc

[grep]
	# Consider most regexes to be ERE
  extendedRegexp = true

[log]
	# Use abbrev SHAs whenever possible/relevant instead of full 40 chars
	abbrevCommit = true
	# Automatically --follow when given a single path
  follow = true

[includeIf "gitdir:~/dotfiles/"]
    path = .gitconfig-gitlab

[includeIf "gitdir:~/.password-store/"]
    path = .gitconfig-gitlab

[includeIf "gitdir:~/repo/gitlab.com/"]
  path = .gitconfig-gitlab

[includeIf "gitdir:~/repo/github.com/"]
  path = .gitconfig-gitlab

[includeIf "gitdir:~/org"]
  path = .gitconfig-gitlab

[includeIf "gitdir:~/repo/git.eu.clara.net/"]
    path = .gitconfig-work
[includeIf "gitdir:~/repo/git.de.clara.net/"]
    path = .gitconfig-work
[includeIf "gitdir:~/repo/git.aktion-mensch.de/"]
    path = .gitconfig-work

[url "git@git.eu.clara.net:"]
    insteadOf = https://git.eu.clara.net/

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[rebase]
	instructionFormat = (%an <%ae>) %s
[pull]
	ff = only
[diff "sopsdiffer"]
	textconv = sops -d
[init]
	defaultBranch = master
