*.foreground : #f5f5f5
#ifdef background_opacity
*.background:   #181818
#else
*.background : #181818
#endif
*.cursorColor : #E88A30

*.color0: #181818
*.color1: #DB4B3F
*.color2: #E88A30
*.color3: #F77C55
*.color4: #FFC48C
*.color5: #9553ac
*.color6: #5793e0
*.color7: #f5f5f5

*.color8: #626262
*.color9: #cc6666
*.color10: #b5bd68
*.color11: #f0c674
*.color12: #81a2be
*.color13: #b294bb
*.color14: #8abeb7
*.color15: #c5c8c6

*.color16: #de935f
*.color17: #a3685a
*.color18: #282a2e
*.color19: #373b41
*.color20: #b4b7b4
*.color21: #e0e0e0

! Use a nice truetype font and size by default... 
UXTerm*faceName: Fira Code NF
UXTerm*faceSize: 11
UXTerm*allowBoldFonts: false

! Every shell is a login shell by default (for inclusion of all necessary environment variables)
UXTerm*loginshell: true

! I like a LOT of scrollback...
UXTerm*savelines: 16384

! double-click to select whole URLs :D
!UXTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

! right hand side scrollbar...
UXTerm*rightScrollBar: true
UXTerm*ScrollBar: false

UXTerm*VT100.Translations: #override \
                 Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
                 Ctrl Shift <Key>C:    copy-selection(CLIPBOARD)

! stop output to terminal from jumping down to bottom of scroll again
UXTerm*scrollTtyOutput: true

Xft.dpi       : 96
Xft.antialias : true
Xft.rgba      : rgb
Xft.hinting   : true
Xft.hintstyle : hintslight
Xft.autohint  : false
Xft.lcdfilter : lcddefault

